@font-face {
  font-family: 'ProximaNova_bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff2') format('woff2'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova_Reg';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Fonts */
/* Colors */
/* Basic settings */
html {
  font-size: 10px;
}
body {
  font-family: 'ProximaNova_Reg', sans-serif;
}
.button {
  background-color: #fdb403;
  color: #ffffff;
  padding: 1rem 3rem;
  border-radius: 8px;
  text-transform: uppercase;
  border: none;
  font-family: 'ProximaNova_Reg', sans-serif;
  font-size: 12px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.button:hover {
  cursor: pointer;
  background-color: #e5a202;
}
/*Оформление форм*/
/* Typography */
section {
  padding: 10rem 0rem;
  margin: 0;
}
footer {
  padding: 5rem 0rem;
  margin: 0;
}
.price {
  background: url(../img/Fone.jpg) center no-repeat;
  background-size: cover;
}
.price-wrap {
  text-align: right;
}
.price-block {
  background-color: #ffffff;
  text-align: center;
  padding: 1rem 3rem;
  -webkit-box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0.17);
          box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0.17);
  min-height: 58rem;
  margin-top: 4rem;
  margin-bottom: 11rem;
}
.price-block-btn {
  margin-bottom: 3rem;
}
.price-block .price-list {
  font-size: 1.6rem;
  padding: 0;
  list-style: none;
  min-height: 14rem;
  line-height: 1.6;
}
.price-block .price-list li {
  font-family: 'ProximaNova_bold', sans-serif;
}
.price-block .price-list li:before {
  content: url(../img/checked.png);
  width: 3rem;
  height: 3rem;
  margin-right: 0.4rem;
  vertical-align: middle;
}
.price-block h4 {
  font-size: 1.8rem;
  font-family: 'ProximaNova_bold', sans-serif;
  margin-bottom: 4rem;
}
.price-block img {
  display: inline-block;
  text-align: center;
  margin-bottom: 2rem;
  width: 100%;
  max-width: 30rem;
}
.price-block span {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 1.9rem;
}
.price-block span span {
  font-size: 3rem;
}
.price-header {
  color: #fff;
  display: inline-block;
  line-height: 2.7rem;
}
.price-header h2 {
  font-size: 3.6rem;
  margin-top: -4rem;
}
.price-header span {
  font-size: 1.7rem;
  text-align: center;
  font-family: 'ProximaNova_Reg', sans-serif;
}
.price-tag {
  display: block;
  font-size: 1.8rem;
  font-family: 'ProximaNova_bold', sans-serif;
  margin-bottom: 2rem;
}
.section-header {
  text-align: center;
  margin: 5rem 0rem;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 3.6rem;
}
/* Отзывы*/
.hand {
  position: absolute;
  left: -10.5%;
  bottom: 0;
  min-width: 30rem;
}
.feedback {
  background: url(../img/fone_2.jpg) no-repeat center;
  background-size: cover;
  position: relative;
}
.feedback-prev-btn {
  position: absolute;
  left: -2.6%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #ffffff;
}
.feedback-prev-btn img {
  width: 1rem;
  height: 2rem;
}
.feedback-next-btn {
  position: absolute;
  right: -2.7%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #ffffff;
}
.feedback-next-btn img {
  width: 1rem;
  height: 2rem;
}
.feedback-slider {
  padding: 5rem 6rem;
  background-color: #ffffff;
  -webkit-box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11);
          box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11);
}
.feedback-slider p {
  font-size: 1.6rem;
}
.feedback-slider-btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #358d10;
  border: none;
  padding: 1rem;
}
.feedback-header {
  text-align: center;
  font-size: 2rem;
  font-family: 'ProximaNova_bold', sans-serif;
  margin-bottom: 0rem;
}
.feedback-text {
  position: relative;
  font-style: italic;
  border: 2px solid #358d10;
  padding: 1rem;
  margin-top: 2rem;
}
.feedback-text::before {
  content: '';
  position: absolute;
  top: -1.3rem;
  display: block;
  width: 1.4rem;
  margin-left: 4rem;
  vertical-align: middle;
  height: 1.4rem;
  border: 2px solid #358d10;
  background-color: #ffffff;
  border-top-right-radius: 100px;
  border-bottom: none;
}
.media {
  margin-top: 3rem;
}
.media h4 {
  font-family: 'ProximaNova_bold', sans-serif;
}
/*Scheme*/
.scheme {
  background: #ffffff url(../img/Schem/hand.png) bottom -20rem right -30rem no-repeat;
}
.scheme-text {
  font-size: 2rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.scheme-block {
  min-height: 30rem;
}
.scheme h3 {
  font-size: 2rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
/* main */
.main {
  padding: 3rem ;
  background: url("../img/Слой 15.jpg") center center no-repeat;
  background-size: cover;
}
.main-content {
  margin-top: 4rem;
}
.main-content h1 {
  font-family: 'ProximaNova_bold', sans-serif;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 900;
  margin-bottom: 4rem;
  line-height: 1.45;
}
.main .main-subtitle {
  font-family: 'ProximaNova_Reg', sans-serif;
  font-size: 2.4rem;
  margin-bottom: 4rem;
}
.main span {
  font-family: 'ProximaNova_Reg', sans-serif;
  color: #ffffff;
  background-color: #358d10;
  padding: 3rem 5rem;
  display: inline-block;
  font-size: 1.8rem;
  text-align: center;
  margin-top: 2rem;
}
.main span strong {
  font-size: 3rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.main-trigger {
  font-family: 'ProximaNova_bold', sans-serif;
  display: block;
  font-size: 2rem;
  text-transform: uppercase;
  margin-top: 3rem;
}
/* Main-form */
.main-form {
  background-color: #ffffff;
  text-align: center;
  padding: 4rem 5rem;
  margin-top: 4rem;
}
.main-form-header {
  font-family: 'ProximaNova_Reg', sans-serif;
  font-size: 1.7rem;
  text-align: center;
  margin-bottom: 4rem;
}
.main-form-header strong {
  font-size: 1.9rem;
}
.main-form-input {
  display: block;
  text-align: center;
  width: 100%;
  height: 4.5rem;
  padding: 1.5rem;
  border: 1px solid #dddddd;
  margin: 2rem 0rem;
  border-radius: 6px;
}
.main-form-btn {
  background-color: #fdb403;
  color: #ffffff;
  border-radius: 8px;
  text-transform: uppercase;
  border: none;
  font-family: 'ProximaNova_Reg', sans-serif;
  font-size: 12px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  display: block;
  height: 5.5rem;
  width: 100%;
  margin-bottom: 1rem;
  padding: 1rem 3rem;
  font-size: 1.6rem;
}
.main-form-btn:hover {
  cursor: pointer;
  background-color: #e5a202;
}
.main-form label {
  background-color: #ffffff;
  display: inline-block;
  padding: 0.5rem;
  position: absolute;
  letter-spacing: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 1.3rem;
}
small {
  display: block;
  margin-top: 1.5rem;
}
.time {
  display: inline-block;
  text-align: left;
  padding: 0 2rem;
  font-family: 'ProximaNova_Reg', sans-serif;
  font-size: 12px;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
a:hover {
  text-decoration: none;
}
.phone-block {
  text-align: center;
}
.phone-link {
  display: inline-block;
  font-weight: 900;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2rem;
  height: 7rem;
  line-height: 7rem;
  color: #1a1820;
}
.header {
  height: 7rem;
}
.wrap {
  display: table;
  width: 100%;
  height: 7rem;
}
.wrap-block {
  display: table-cell;
  text-align: right;
  vertical-align: middle;
}
/*Оформление секции с преймуществами*/
.features-block {
  text-align: center;
}
.features-block h3 {
  font-size: 2rem;
  font-family: 'ProximaNova_bold', sans-serif;
  margin-bottom: 0rem;
}
.features-block p {
  font-size: 1.4rem;
  font-family: 'ProximaNova_Reg', sans-serif;
  display: inline-block;
  width: 80%;
}
.features-img img {
  display: block;
  margin: 3rem auto;
}
.slick-active {
  outline: none;
}
.arrow {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  z-index: 99;
  widows: 2rem;
  height: 2rem;
  border: none;
  background-size: 70%;
}
.prev {
  background: url('../img/Features/prev-arrow.svg') center no-repeat;
  left: 0;
  background-size: 70%;
}
.next {
  background: url('../img/Features/next-arrow.svg') center no-repeat;
  right: 0;
  background-size: 70%;
}
/*Оформление формы для отзывов */
.feedback-form input {
  display: block;
  text-align: center;
  width: 100%;
  height: 4.5rem;
  padding: 1.5rem;
  border: 1px solid #dddddd;
  margin: 2rem 0rem;
  border-radius: 6px;
}
.feedback-form .btn {
  background-color: #fdb403;
  color: #ffffff;
  border-radius: 8px;
  text-transform: uppercase;
  border: none;
  font-family: 'ProximaNova_Reg', sans-serif;
  font-size: 12px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  display: block;
  height: 5.5rem;
  width: 100%;
  margin-bottom: 3.6rem;
  padding: 1rem 3rem;
  font-size: 1.6rem;
  margin-top: 5.6rem;
}
.feedback-form .btn:hover {
  cursor: pointer;
  background-color: #e5a202;
}
.feedback-form label {
  text-align: center;
  background-color: #ffffff;
  padding: 0.5rem;
  position: absolute;
  left: 50%;
  right: 0;
  -webkit-transform: translateX(-50%) translateY(30%);
          transform: translateX(-50%) translateY(30%);
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 1.3rem;
}
.feedback-form h3 {
  margin-top: 12rem;
  font-size: 3rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
/*Все на 100% включено*/
.all-inclusive {
  background: #f5f5f5;
  font-size: 1.3rem;
}
.all-inclusive h2 {
  color: #358d10;
}
.all-inclusive .media h4 {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 1.6rem;
}
.circle {
  background-color: #358d10;
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.circle-border {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  border: 2px solid #358d10;
  border-radius: 50%;
  text-align: center;
  line-height: 4rem;
  color: #ffffff;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 1.9rem;
  margin-bottom: 10rem;
  padding: 0.3rem;
}
/*Оформление блока "Мы развеем все опасения"*/
.problems {
  position: relative;
  background-color: #ffffff;
}
.problems_women {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 30rem;
  margin-left: -19rem;
}
.problems-list {
  padding: 2rem;
  border: 4px solid;
  min-height: 35rem;
  margin-bottom: 5rem;
}
.problems-list h4 {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2.1rem;
}
.problems-list ul {
  padding-left: 0;
  padding-top: 2rem;
  list-style: none;
}
.problems-list li {
  margin-bottom: 3rem;
  position: relative;
  padding-left: 3.5rem;
}
.problems-list li:before {
  content: '';
  width: 3rem;
  height: 3rem;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.problems-list_bad {
  border-color: #e8e8e8;
}
.problems-list_bad h4 {
  opacity: 0.5;
}
.problems-list_bad ul li:before {
  background: url(../img/Problems/cancel.png) center no-repeat;
  background-size: 60%;
}
.problems-list_good {
  border-color: #358d10;
}
.problems-list_good ul li:before {
  background: url(../img/Problems/checked.png) center no-repeat;
  background-size: 60%;
}
/*Блок с материалами*/
.materials {
  background: url(../img/Materials/material-bg.png) center no-repeat;
  background-size: cover;
}
.materials-header {
  text-align: center;
}
.materials-header h2 {
  font-size: 3.6rem;
  font-family: 'ProximaNova_bold', sans-serif;
  margin-bottom: 5rem;
}
.materials-header span {
  display: inline-block;
  margin-bottom: 5rem;
  font-size: 1.9rem;
}
.materials-text {
  font-size: 1.9rem;
  display: block;
}
.materials h3 {
  font-size: 2.2rem;
  font-family: 'ProximaNova_bold', sans-serif;
  margin-bottom: 1rem;
}
.materials-link {
  color: #358d10;
  border-bottom: 1px dashed #358d10;
  display: inline-block;
}
.materials-link:hover {
  color: #245f0b;
}
.materials-info {
  margin-top: 5rem;
  text-align: center;
  font-size: 2rem;
}
.knauf {
  display: inline-block;
  margin-bottom: 2.5rem;
}
/*Оформление блока "Как мы работаем"*/
.work {
  background: url(../img/Work/fone.jpg) center center no-repeat;
  background-size: cover;
}
.work-header {
  margin-top: 3rem;
  font-family: 'ProximaNova_Reg', sans-serif;
}
.work-header h1 {
  font-size: 4rem;
}
.work-header span {
  display: inline-block;
  margin-bottom: 3rem;
  margin-top: 3rem;
  font-size: 2rem;
}
.work-header p {
  font-size: 2rem;
  text-align: left;
  margin: 0;
  padding: 0;
}
.work-form h2 {
  font-family: 'ProximaNova_bold', sans-serif;
}
.work-form button {
  font-size: 1.4rem;
}
/*Оформление блока "Дополнительные услуги"*/
.offer {
  background: url('../img/Fone.jpg') center no-repeat;
  background-size: cover;
}
.offer-header {
  text-align: center;
  color: #ffffff;
}
.offer-header h1 {
  font-size: 3.6rem;
  margin-bottom: 5rem;
}
.offer-header span {
  font-size: 1.9rem;
}
.offer-block {
  padding: 2rem;
  margin-top: 8rem;
  display: inline-block;
  text-align: center;
}
.offer img {
  display: inline-block;
  width: 100%;
  max-width: 30rem;
  margin-bottom: 1rem;
}
.offer p {
  margin: 3rem 0;
  font-size: 2rem;
  font-family: 'ProximaNova_bold', sans-serif;
  color: #ffffff;
  min-height: 9rem;
}
.offer button {
  font-size: 1.6rem;
}
/*Оформление блока "Контакты"*/
.contacts {
  background: #f5f5f5 url(../img/Contacts/1.png.jpg) center center no-repeat;
  background-size: cover;
}
.contacts-info {
  text-align: left;
}
.contacts-info h2 {
  margin-bottom: 7rem;
  font-size: 3.6rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.contacts-info p {
  font-size: 1.8rem;
  margin: 2rem 0 2rem 0;
}
.contacts-info a:hover {
  color: #020203;
}
.contacts-form-area {
  min-height: 10rem;
}
.contacts-form button {
  font-size: 1.4rem;
}
.contacts-link {
  font-size: 1.8rem;
  color: #1a1820;
  border-bottom: 1px dashed #1a1820;
}
/*Footer*/
.footer-contacts {
  text-align: center;
  margin: 0;
}
.footer-contacts p {
  margin: 0;
  padding-top: 0.5rem;
}
.footer-link {
  color: #1a1820;
  border-bottom: 1px #1a1820 dashed;
}
.footer-link:hover {
  color: #000000;
}
.footer-dev {
  display: block;
  text-align: right;
}
.footer-dev p {
  font-size: 1.1rem;
}
/*Оформление всыплывающих окон*/
.popup {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 4rem 6rem;
}
.popup-form {
  margin-top: 3rem;
  padding: 0;
}
.popup-close {
  position: absolute;
  top: -1.5rem;
  right: -2rem;
  width: 2rem;
  text-align: center;
  border: none;
  background-color: transparent;
  font-size: 3rem;
  color: #ffffff;
}
.popup-content {
  position: fixed;
  text-align: center;
  left: 50%;
  top: 10%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 4rem 6rem;
  background-color: #ffffff;
}
.popup-content h4 {
  font-family: 'ProximaNova_bold', sans-serif;
}
@media (max-width: 990px) {
  .contacts {
    background: #f5f5f5;
  }
  footer {
    text-align: center;
  }
  .footer-dev {
    margin-bottom: 1rem;
    text-align: center;
  }
  .work {
    text-align: center;
    background: url(../img/Work/fone.jpg) left bottom no-repeat;
    background-size: cover;
  }
  .problems_women {
    display: none;
  }
  .problems-list {
    min-height: auto;
  }
  .hand {
    display: none;
  }
  .main {
    background-position: top right;
  }
  .phone-block {
    text-align: center;
  }
  .main-title {
    text-align: center;
    padding-bottom: 3rem;
  }
  .main-content {
    text-align: center;
    margin-top: 3rem;
  }
  .price-block {
    display: block;
    margin-bottom: 3rem;
  }
  .price-button {
    margin-bottom: 0rem;
  }
  .price-wrap {
    display: block;
    text-align: center;
  }
  .header-price {
    text-align: center;
  }
  .main-form {
    text-align: center;
  }
  .section-header {
    display: block;
    text-align: center;
  }
  .feedback-form h3 {
    text-align: center;
    font-size: 2.5rem;
  }
  .feedback-form label {
    font-family: 'ProximaNova_bold', sans-serif;
    position: absolute;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  }
  .feedback-prev-btn {
    position: absolute;
    left: 5%;
    top: 50%;
  }
  .feedback-next-btn {
    position: absolute;
    right: 5%;
    top: 50%;
  }
  .feedback-slider_item {
    width: 100%;
    height: 100%;
  }
  .feedback-slider_item img {
    width: 50%;
    height: 50%;
  }
  .feedback .media {
    width: 100%;
    height: 100%;
  }
  .feedback .media-object {
    height: 5rem;
    width: 5rem;
  }
}
@media (max-width: 1199px) {
  .problems-list {
    min-height: 40rem;
  }
  .number-three button {
    margin-top: 0.6rem;
  }
  .feedback-form h3 {
    text-align: center;
    font-size: 2rem;
  }
  .feedback-form label {
    position: absolute;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  }
  .main {
    background-position: top left;
  }
  .main-content h1 {
    font-size: 3rem;
  }
  .header {
    text-align: center;
  }
  .section-header {
    display: block;
    text-align: center;
  }
  .price-button {
    margin-bottom: 3rem;
  }
  .price-wrap {
    display: block;
    text-align: center;
  }
  .wrap-block {
    text-align: center;
  }
  .feedback-prev-btn {
    position: absolute;
    left: 0%;
    top: 50%;
  }
  .feedback-next-btn {
    position: absolute;
    right: 0%;
    top: 50%;
  }
  .feedback-slider_item {
    width: 70%;
    height: 70%;
  }
  .feedback-slider_item img {
    width: 50%;
    height: 50%;
  }
  .feedback .media {
    width: 70%;
    height: 70%;
  }
  .feedback .media-object {
    height: 5rem;
    width: 5rem;
  }
}
@media (max-width: 726px) {
  .contacts {
    background: #f5f5f5;
  }
  .work {
    text-align: center;
    background: url(../img/Work/fone.jpg) left bottom no-repeat;
    background-size: cover;
  }
  .problems-list {
    min-height: auto;
  }
  .problems_women {
    display: none;
  }
  .scheme {
    background-image: none;
    text-align: center;
  }
  .scheme-block {
    min-height: 20rem;
  }
  .hand {
    display: none;
  }
  .feedback-form h3 {
    text-align: center;
    font-size: 2rem;
  }
  .feedback-form label {
    position: absolute;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  }
  .main {
    background-position: top left;
  }
  .main-content h1 {
    font-size: 3rem;
  }
  .header {
    text-align: center;
  }
  .section-header {
    display: block;
    text-align: center;
  }
  .price-button {
    margin-bottom: 3rem;
  }
  .price-wrap {
    display: block;
    text-align: center;
  }
  .wrap-block {
    text-align: center;
  }
  .feedback-prev-btn {
    position: absolute;
    left: 0%;
    top: 50%;
  }
  .feedback-next-btn {
    position: absolute;
    right: 0%;
    top: 50%;
  }
  .feedback-slider_item {
    width: 70%;
    height: 70%;
  }
  .feedback-slider_item img {
    width: 30%;
    height: 30%;
  }
  .feedback .media {
    width: 100%;
    height: 100%;
  }
  .feedback .media-object {
    height: 5rem;
    width: 5rem;
  }
}
@media (max-width: 320px) {
  .contacts {
    background: #f5f5f5;
  }
  .work {
    text-align: center;
  }
  .problems-list {
    min-height: auto;
  }
  .problems_women {
    display: none;
  }
  .scheme {
    background-image: none;
    text-align: center;
  }
  .scheme-block {
    min-height: 20rem;
  }
  .hand {
    display: none;
  }
  .feedback-form h3 {
    text-align: center;
    font-size: 2rem;
  }
  .feedback-form label {
    position: absolute;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  }
  .main {
    background-position: top left;
  }
  .main-content h1 {
    font-size: 3rem;
  }
  .header {
    text-align: center;
  }
  .section-header {
    display: block;
    text-align: center;
  }
  .price-button {
    margin-bottom: 3rem;
  }
  .price-wrap {
    display: block;
    text-align: center;
  }
  .wrap-block {
    text-align: center;
  }
  .feedback-prev-btn {
    position: absolute;
    left: 0%;
    top: 50%;
  }
  .feedback-next-btn {
    position: absolute;
    right: 0%;
    top: 50%;
  }
  .feedback-slider_item {
    width: 70%;
    height: 70%;
  }
  .feedback-slider_item img {
    width: 30%;
    height: 30%;
  }
  .feedback .media {
    width: 100%;
    height: 100%;
  }
  .feedback .media-object {
    height: 5rem;
    width: 5rem;
  }
}
